body
{
  background: var(--background1);

  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;

}

:root {
  --font1: 'Pixelify Sans', sans-serif;
  --green: rgb(73, 147, 94);
  --red: rgb(102, 51, 51);

  --background1: #212121;
  --background2: rgb(0, 0, 0, 0.1);
  --background3: rgba(0, 0, 0, 0.3);
  --background4: rgb(0, 0, 0, 0.8)
}

::selection {
  background: var(--green);
}

    .head
    {
      white-space: nowrap;
      overflow: hidden;
      width:100%;
      height:7vh;
      background: var(--background2);
      border-radius: 10px;
      display: flex;
      align-items: center;
    }  
      h1{
      user-select: none;
      -moz-user-select: none;
      -webkit-user-select: none;
      -ms-user-select:none;
      width:auto;
      padding: 0;
      color: var(--green);
      font-size: 2.1rem;
      letter-spacing: 4px;
      font-family:var(--font1);
      margin:0;
      margin-left: 1%;
      }

    .clicker
    {
      margin-top: 1%;
      margin-bottom: 1%;
      width: auto;
      height: 85vh;
      padding: 1% ;
      display: inline-block;
      display: flex;
      justify-content: center;
      flex-direction: row;
      overflow: hidden;
     background: var(--background2);
      border-radius: 10px;
    }

        .siderow
        {
          width: 30%;
          height: 80vh;
          background: rgba(0, 0, 0, 0.3);
          border-radius: 10px;
          float: left;
          padding: 1%;
          overflow: scroll;
          overflow-x: hidden;
          font-family:--var(--font1);
          display: flex;
          align-items: center;
          flex-direction: column;
          gap: 13px;
        }

        .buttonplaceholder
        {
          height: 100px;
          width: 100%;
          background: rgba(0, 0, 0, 0.3);
          border-radius: 15px;
          display: inline-block;
          display: flex;
          justify-content: center;
          flex-direction: row;
          cursor:default;
          gap: 13px;
        }
    
        .mainrow
        {
          display: flex;
          justify-content: space-around ;
          align-items: center;
          flex-direction: column;
          height: 80vh;
          width: 40%;
          padding: 1%;
        } 

            .count 
            {
            
              height: 160px;
              width: 75%;

              color:white;
              font-size: 1.5rem;
              letter-spacing: normal;
              font-family:var(--font1);
              text-align: center;
              padding: 15px 0;

              background: rgba(0, 0, 0, 0.3);
              border-radius: 10px;
            }
                .count .spanclicks
                {
                font-size: 40px;
                color: var(--green);
                }

                .count .prsec
                {
                font-size:15px ;    
                }

                .buttonemo
                {
                  outline: none;
                  background-color: transparent;
                  display: inline-block;
                  margin-top:15px ;
                  border: none;
                }

                  .buttonemo .schuss
                  {  
                    font-size: 1.5rem;
                    font-family: var(--font1);
                    cursor: pointer;
                    color: white;
                  }

                  .projects,.products
                  {
                    position: relative;
                  }

                  .projects ul, .products ul
                  {
                    margin-top: -1px;
                    margin-left: -50.5px;
                    padding: 0px;
                    list-style-type: none;
                    position: absolute;
                    display: flex;
                    justify-content: space-around;
                    flex-direction: column;
                    align-items: center;
                    width: 440px;
                    height: 330px;
                    background: var(--background3);
                    left: 30px;
                    list-style: none;
                    border-radius: 10px;    
                    opacity: 0;
                    pointer-events: none;
                    transform: translateY(-10px);
                    transition: all 0.4s ease;
                  }

                  .projects li, .products li
                  {
                    width: 100%;
                    height: 100%;
                    border-radius: 10px;

                    display: flex;
                    justify-content: center;
                    align-items: center;
                  }

                  .projects li:hover, .products li:hover
                  {
                    background-color: var(--background3);
                  }

                  .projects button:focus + ul, .products button:focus + ul
                  {
                    opacity: 1;
                    pointer-events: all;
                    transform: translateY(0px);
                  }

                  video
                  {
                    width: 95%;
                    position: relative;
                    left: 0;
                    top: 0;
                  }

            .panzer 
            {
              width: 75%;
            }

              .panzer:hover{
                cursor: pointer;
              }

          .rightrow
          {
            width: 30%;
            height: 80vh;
            float: right;
            background:rgba(0, 0, 0, 0.3);
            border-radius: 10px;
              
            overflow:scroll;
            overflow-x:hidden;
          }

            .dropdown-content 
            {
              display: none;
              position: absolute;
              background-color:var(--background4);
              max-width: 33%;
              height: 100%;
              z-index: 1;
              border-radius: 0 12px 12px 0;
              top:0;
              left: 0;
              margin: 0;
              padding: 0;

            }
            .front2:hover .dropdown-content {display: block;}

            .dropdown-content a 
            {
              color: white;
              font-family: var(--font1);
              font-size: 1rem;
              padding: 14px 16px;
              text-decoration: none;
              display: block;
              height: 52px;
              display: flex;
              justify-content: center;
            }

              .front2
              {
                overflow: hidden;
                background:rgb(2, 2, 2, 0);
                ;border: none;
              }

              .front2 .button {
                position: relative;
                border: none;
                background: transparent;
                padding: 0;
                cursor: pointer;
                outline-offset: 4px;
                transition: filter 250ms;
                touch-action: manipulation;
                background:rgb(2, 2, 2, 0);
              }
              
              
              button:hover {
                filter: brightness(110%);
              }
              
              button:hover .shadow {
                transform: translateY(4px);
                transition: transform
                  250ms
                  cubic-bezier(.3, .7, .4, 1.5);
              }
              
              button:active .shadow {
                transform: translateY(1px);
                transition: transform 34ms;
              }
              
              button:focus:not(:focus-visible) {
                outline: none;
              }
            
              .buttonplaceholder {
                position: relative;
                border: none;
                background: transparent;
                padding: 0;
                outline-offset: 4px;
                transition: filter 250ms;
                touch-action: manipulation;
                background:rgb(2, 2, 2, 0);
              }
              

              .greyout{
                filter: grayscale(90%) !important;
                color: rgba(255, 255, 255, 0.175) !important;
              }

              .front2 
              {
                display: block;
                padding-left: 5%;
                position: relative;
                width: 100%;
                height: 100px;
                font-family: var(--font1);
                border-radius: 12px;
                font-size: 1.15rem;
                color: white;
                background: var(--green);
                will-change: transform;
                transform: translateY(-4px);
                transition: transform
                  600ms
                  cubic-bezier(.3, .7, .4, 1);
              }
              
              .buttonplaceholder:hover 
              {
                filter: brightness(110%);
              }
              
              .buttonplaceholder:hover .front2 
              {
                transform: translateY(-6px);
                transition: transform
                  250ms
                  cubic-bezier(.3, .7, .4, 1.5);
              }
              
              .buttonplaceholder:active .front2
              {
                transform: translateY(-2px);
                transition: transform 34ms;
              }

              
              .buttonplaceholder:focus:not(:focus-visible) 
              {
                outline: none;
              }

              .front2 .buttontxtrebbtn {
                position: relative;
                border: none;
                background: transparent;
                padding: 0;
                cursor: pointer;
                outline-offset: 4px;
                transition: filter 250ms;
                user-select: none;
                touch-action: manipulation;
                background:rgb(2, 2, 2, 0);
              }

              .bigredbutton{
                background: var(--red) !important;
              }
                  .btnICON
                  {
                    width: 72px;
                    height: 60px;
                    float:left;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                  }
                      
                    .bulletsize
                    {
                      width: 40%;
                    } 

                  .btncost
                  {
                    width: auto;
                    text-align: left;
                    height: auto;
                    float:left;
                    margin-left: 10px;
                  }
                  
                  .btnamount
                  {
                    width: auto;
                    height: auto;
                    float: right;
                  }

    .info
    {
      width:auto;
      background: var(--background2);
      border-radius: 10px;
    }

      .credits
      {
        user-select: all;
        -moz-user-select: all;
        -webkit-user-select: all;
        -ms-user-select: all;
        font-family: var(--font1);
        font-size: 1rem;
        color: white;
        letter-spacing: 2px;
        margin-left:10px;
      }

    

::-webkit-scrollbar 
{
  width: 1em;
}

::-webkit-scrollbar-track
{
  background: rgb(2, 2, 2, 0);
  border-radius: 100vw;
  margin-block: 0.7em;
}

::-webkit-scrollbar-thumb
{
  background:rgb(2, 2, 2, 0.3);
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover
{
  background:rgb(2, 2, 2, 0.4) ;
}
